@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>So coffee is dope, so like, drink it and stuff. Grand Circus has great coffee, I drink multiple cups....mmhhmm hmmm good!!</p>
